.carousel-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    perspective: 600px;
  }

.carousel-image-container {
    position: relative;
    display: flex;
    justify-content: start;
    gap: 8px;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, black 50%, transparent 100%);
    border-radius: 10px;
    overflow: auto;
    overflow-y: hidden;
    padding: 1rem;
}

.carousel-image {
    position: relative;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.carousel-image:hover {
    transform: scale(110%);
    box-shadow: 0 0 10px 0 white;
    transition: transform 0.3s ease;
}

.App-container button.playButton {
    position: absolute;
    bottom: 120px;
    left: 0%;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background: radial-gradient(transparent, black);
    box-shadow: 0 0 10px 0 silver;
    z-index: 20;
}

.center-image-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
}

.center-image {
    position: relative;
    justify-self: center;
    align-self: center;
    max-height: 100%;
    max-width: min(100%, 450px);
    height: auto;
    width: auto;
    z-index: 10;
    border-radius: 10px;
    animation: appear 0.7s ease-in-out;
}

@keyframes appear {
    0% {opacity: 1; transform: scale(50%) translateX(-20%) rotateY(-90deg);}
    100% {opacity: 1; transform: scale(100%);}
}  

@keyframes pull-out {
    0% {transform: translateY(0);
        opacity: 1;}
    100% {transform: translateY(-10%) scale(0%);
        opacity: 0;}
}

@media (min-width: 1024px) {
    .center-image-frame {
        height: 600px;
    }
}