.video-gallery-container {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
}

.video-gallery-container li {
    list-style-type: none;
}

.video-gallery-container h2 {
    height: 10%;
    width: 10%;
}

.video-gallery-container iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video-gallery-item {
    background-color: rgb(37, 37, 46);
    position: relative;
    border: solid;
    border-width: 4px;
    border-color: white;
    height: auto;
    width: 200px;
    transform: perspective(1000px) rotateX(30deg) rotateY(30deg);
}

.video-gallery-item:hover {
    animation-name: growImage, breathingImage;
    animation-delay: 0s, 0.3s;
    animation-duration: 0.3s, 1s;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards, none;
    animation-timing-function: ease, ease;
    z-index: 1;
    cursor: pointer;
}


@keyframes growImage {
    from {border-color: rgb(67, 255, 67);}
    to {border-color: green;
        height: auto;
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(150%);
        }
}

@keyframes breathingImage {
    0% {transform: scale(150%);}
    50% {transform: scale(147%);}
    100% {transform: scale(150%);}
}
