.GalleryCenterpieceBackground {
    width: 100svw;
    background: url("../../assets/images/blue_tech.png");
}

.GalleryCenterpiece {
    width: min(700px, 100svw);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    /* background: url("../../assets/images/blue_tech.png"); */
    justify-content: center;
}

.GalleryCenterpiece img {
    width: min(600px, 80%);
    height: auto;
    justify-self: center;
}

.GalleryCenterpiece p {
    font-size: 1rem;
    text-align: left;
    width: min(600px, 80%);
    display: block;
    background: linear-gradient(black -50%, rgb(0, 42, 77) 50%, black 150%);
    padding: 20px;
    justify-self: center;
    margin: auto;
}

.GalleryCenterpiece h2 {
    font-size: 3rem;
    text-shadow: 5px 5px blue;
}

.GalleryCenterpiece h3 {
    font-size: 14px;
    color: blue;
    animation: breathingText 4s linear infinite
}

@keyframes breathingText {
    0% {transform: scale(100%)}
    50% {transform: scale(120%)}
    100% {transform: scale(100%)}
}