#root {
  min-width: 100svw;
  min-height: 100lvh;
  text-align: center;
  background: url("./assets/images/tech_globe.png");
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #00a2ff;
}

.App-container {
  display: grid;
  grid: column;
  justify-content: center;
  flex: wrap;
}

.App-container h1 {
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 20px rgb(90, 208, 255);
  display: block;
  background: radial-gradient(black 30%, rgb(6, 74, 119) 125%);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 700px;
}

.App-container h2 {
  display: block;
  background: linear-gradient(rgb(0, 119, 255) 0%, rgb(1, 0, 78) 50%, black);
  position: relative;
  border-style:silver;
  left: 50%;
  transform: translate(-50%);
}

.App-container p {
  font-size: 1.5rem;
}