.AboutPage {
    display:flex;
    justify-content: center;
}

.AboutPage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 800px;
    gap: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 800px) {
    .AboutPage-container {
        width: 100svw;
    }
}

.AboutPage-container h2 {
    grid-column: span 3;
}

.AboutPage-container p {
    grid-column: span 3;
    white-space: pre-line;
    text-align: left;
    padding: 10px;
    box-shadow: 5px 5px 20px 5px black;
    width: fit-content;
    border: solid;
    border-color: rgb(0, 85, 114);
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background: linear-gradient(black -100%, transparent 100%);
    
}

.AboutPage-container img {
    max-width: 600px;
}

@keyframes shadow-pulse {
    0% {box-shadow: 0 0 5px rgb(0, 162, 255);}
    50% {box-shadow: 0 0 30px rgb(0, 162, 255)}
    100% {box-shadow: 0 0 5px rgb(0, 162, 255);}
}

.text-short {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-short p {
    font-size: max(1rem, 1svw);
    color: white;
    text-align: left;
    animation: shadow-pulse 3s ease-in-out infinite;
}

.text-long {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text-long p {
    color: white;
    white-space: collapse;
    text-align: left;
    font-size: 1rem;
}

.AboutPage-col-2 {
    grid-column: span 2;
}
.AboutPage-col-3 {
    grid-column: span 3;
}

.AboutPage-container button {
    color: lightblue;
    background: linear-gradient(transparent, blue, transparent);
}

.AboutPage-container button:hover {
    color: white;
    box-shadow: 0 0 10px white;
}




@media (max-width: 600px) {
    .AboutPage-container h2 {
        grid-column: span 3;
    }
    
    .AboutPage-container p {
        grid-column: span 3;
    }
    .AboutPage-container img {
        grid-column: span 3;
        width: 100svw;
    }
}