
.form-container {
    display: flex;
    justify-content: center;
    width: min(600px, 100svw);
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(transparent 0%, rgb(55, 45, 170), transparent 100%);
  }
  
  .form-container form {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .form-container label {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .form-container input,
  .form-container textarea {
    background: rgb(50, 50, 50);
    color: white;
    font-family: arial;
    font-size: 1.2rem;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: auto;
  }
  
  .form-container button {
    padding: 10px;
  }