.Navbar {
    position: relative;
    min-width: 100svw;
    display: flex;
    background: linear-gradient(rgb(50, 50, 50)30%, black 80%, rgb(50, 50, 50));
    justify-content: center;
    z-index: 1;
}

.Navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.Navbar li {
    font-size: 20px;
    color: white;
}

.Navbar li:hover {
    filter: drop-shadow(1px 1px rgb(0, 204, 255));
}

.Navbar button {
    display: none;
    color: white;
    background: radial-gradient(black, darkgrey);
    cursor: pointer;
}

@media (max-width: 700px) {
    .Navbar li {
        display: none;
    }
    .Navbar nav button {
        display: block;
        height: 50px;
    }

    .responsive_nav {
        position: fixed;
        top: -20px;
        left: 0;
    }

    .responsive_nav ul {
        position: fixed;
        padding-top: 20px;
        min-width: 100svw;
        background: linear-gradient(rgb(50, 50, 50)30%, black 80%, rgb(50, 50, 50));
        justify-content: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .responsive_nav li {
        display: block;
    }
    .responsive_nav button {
        background: radial-gradient(black, darkgrey);
        border-radius: 0;
    }

}