.image-gallery-container {
    min-width: 100svw;
    /* background: url("../../assets/images/tech_globe.png"); */
    padding-top: 100px;
    padding-bottom: 200px;
}

.image-gallery-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.image-gallery-container li {
    list-style-type: none;
}

@media (max-width: 320px) {
    .image-gallery-container {
        width: 320px; /* Adjust the container width for smaller viewports */
    }
}




