#root {
  min-width: 100svw;
  min-height: 100lvh;
  text-align: center;
  background: radial-gradient(circle at 100% 0%, rgb(20, 20, 120), black, rgb(0, 10, 30));
  color: white;
  transform: logo-spin 1s linear;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.App-container {
    display: grid;
  }

.App-container h1 {
  font-size: 2.5rem;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 20px rgb(90, 208, 255);
  display: block;
  background: radial-gradient(black 30%, rgb(6, 74, 119) 125%);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 700px;
}

.App-container h2 {
  font-size: 1.5rem;
  display: block;
  background: linear-gradient(rgb(0, 119, 255) 0%, rgb(1, 0, 78) 50%, black);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.App-container button {
  color: lightblue;
  background: linear-gradient(transparent, blue, transparent);
}

.App-container button:hover {
  color: white;
  box-shadow: 0 0 10px white;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;           
}

::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, darkblue, grey);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top right, blue, white);
}

@media (min-width: 1024px) {
  .App-container h1 {
    font-size: 3.5rem;
  }
  .App-container h2 {
    font-size: 2rem;
  }
}