.GalleryCenterpieceBackground {
    width: 100svw;
    background: url("../../assets/images/blue_tech.png");
}

.GalleryCenterpiece {
    width: min(800px, 100svw);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: black;   
}

.image-grid {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.GalleryCenterpiece img {
    max-width: 100%;
    height: auto;
    grid-column: span 2;
    height: auto;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.GalleryCenterpiece iframe {
    width: 100%;
    height: 50vh;
    justify-self: center;
}

.GalleryText {
    display: block;
    background: linear-gradient(black -200%, grey);
    padding: 5px;
    justify-self: center;
    margin: auto;
}

.GalleryCenterpiece p {
    font-size: 1rem;
    text-align: center;
    display: block;
    background: linear-gradient(black -200%, rgb(50, 50, 50));
    padding: 10px;
    justify-self: center;
    margin: auto;
    color: white;
    font-family: "Arial";
    font-weight: 600;
}

.GalleryCenterpiece h2 {
    font-size: 3rem;
    text-shadow: 5px 5px blue;
}

.GalleryCenterpiece h3 {
    font-size: 14px;
    color: silver;
}

.GalleryCenterpiece h4 {
    color: lightblue;
}
